.treatment-container {
  width: 100vw;
  height: 600px;
  display: flex;
}

.treatment-age {
  flex: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.treatment-age img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s;
}

.overlay11 {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all 0.3s;
}

.treatment-age:hover {
  text-decoration: none;
}

.treatment-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  position: relative;
  z-index: 3;
  left: 1em;
  bottom: 20em;
}

.treatment-age-text {
  font-size: 40px;
  font-weight: 700;
}

.treatment-list {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s;
}

.treatment-age:hover .overlay11 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
}

.treatment-age:hover img {
  transform: scale(1.1);
}

.treatment-age:hover .treatment-list {
  opacity: 1;
}

@media only screen and (max-width: 61.25em) {
  .treatment-container {
    height: 40%;
    flex-direction: column;
  }

  .treatment-list {
    opacity: 1;
  }

  .treatment-text {
    left: 2em;
    bottom: 4em;
  }
}

.lowercapp {
  text-transform: lowercase;
}

.centerbtn {
  margin: 20px auto 0 !important;
}

.testimonialcenterr {
  align-items: center;
  justify-content: center;
}

.proceduress {
  background-position: center;
}

.review-center {
  text-align: center;
}

.review-center .star-rating {
  margin-bottom: 25px;
}

.section-test {
  text-align: center;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  margin-top: 140px;
}

.section-test::before {
  content: "„";
  position: absolute;
  right: -65px px;
  top: -625px;
  font-size: 850px;
  line-height: 1em;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: #fff;
  z-index: 2;
}

.section-test .h1 {
  padding-bottom: 35px;
  position: relative;
  z-index: 3;
}

.review-boxx {
  position: relative;
  display: flex;
  gap: 50px;
  z-index: 6;
  padding-bottom: 100px;
}

.review-boxx .review:not(:last-child) {
  margin: 0 50px;
}

.review-boxx .review .star-rating {
  padding-bottom: 25px;
}

.review-boxx .slick-next {
  left: 51%;
  top: 85%;
}

.review-boxx .slick-prev {
  left: 46%;
  transform: translateX(-45%);
  top: 85%;
}

@media (max-width: 767px) {
  .review-boxx .slick-next {
    left: 53%;
  }

  .review-boxx .slick-prev {
    left: 43%;
    transform: translateX(-45%);
  }
}
.before-after-section {
  margin-bottom: 75px;
}

.before-after-boxx {
  position: relative;
}

.gallery-smiles {
  display: flex;
}

.header-logoo {
  width: 500px;
}

.meet-doctor {
  height: 407px;
  object-fit: cover;
}

.vanta-gallery-wrap {
  min-height: 10vh;
}

.mapp {
  background: url(../images/bg-grey.jpg) #f6f7f5;
}

.vanta-hero {
  position: relative;
}

.vanta-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.vanta-hero-text {
  position: relative;
  z-index: 3;
}

.vanta-hero .banner-center-caption {
  padding: 220px 50px;
}

.vanta-hero .banner-center-text2:not(:first-child) {
  margin: 25px 0;
}

.faq-item-content {
  text-align: left;
}

.table-img {
  margin: 0 auto;
  width: 50vw;
}

.table-img img {
  width: 100%;
}

.vanta-none {
  display: none !important;
}

@media only screen and (max-width: 1023px) {
  .vanta-none {
    display: inline !important;
  }
  .vanta-hiddenn {
    display: none !important;
  }
}

.header-nav .nav-item > .nav-link,
.header .navbar-nav > .nav-item > .dropdown-menu a,
.dropdown-item + .dropdown-menu a {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.header-nav .nav-item > .nav-link:hover,
.header .navbar-nav > .nav-item > .dropdown-menu a:hover,
.dropdown-item + .dropdown-menu a:hover {
  color: #000;
  font-weight: 700;
}

.header-nav .nav-item > .bookknow {
  color: #000;
  font-weight: 700;
}

.header .navbar-nav > .nav-item > .dropdown-menu,
.dropdown-item + .dropdown-menu {
  border-color: #000;
}

.service-card-photo img {
  transform: translateY(-100px);
}

.vanta-2-service img,
.vanta-3-service img,
.vanta-4-service img,
.vanta-5-service img,
.vanta-6-service img {
  transform: translateY(-55px);
}

.vanta-bg-white {
  padding: 100px 0;
  background: #fff;
}
